<!DOCTYPE html>
<html>
<head>
    <title>Event List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Events</h1>

    <h2>Organized Events</h2>
    {% if organized_events %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in organized_events %}
                    <tr>
                        <td><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></td>
                        <td>{{ event.start_time|date:"d.m.Y H:i" }}</td>
                        <td>{{ event.end_time|date:"d.m.Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No events organized by you.</p>
    {% endif %}

    <h2>Participating Events</h2>
    {% if participating_events %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in participating_events %}
                    <tr>
                        <td><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></td>
                        <td>{{ event.start_time|date:"d.m.Y H:i" }}</td>
                        <td>{{ event.end_time|date:"d.m.Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No events you're participating in.</p>
    {% endif %}

    <a href="{% url 'event_create' %}" class="btn btn-primary">Create New Event</a>
    <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Back to Home</a>
</body>
</html>
