<!DOCTYPE html>
<html>
<head>
    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">{{ event.name }}</h1>
    <p>{{ event.description }}</p>
    <p>Organizer: {{ event.organizer }}</p>
    <p>Start Time: {{ event.start_time }}</p>
    <p>End Time: {{ event.end_time }}</p>
    <h2>Participants</h2>
    <ul class="list-group mb-4">
        {% for participant in event.participants.all %}
            <li class="list-group-item">{{ participant.user.username }}</li>
        {% endfor %}
    </ul>
    <h2>Comments</h2>
    <ul class="list-group mb-4">
        {% for comment in comments %}
            <li class="list-group-item">{{ comment.author.user.username }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'event_edit' event.id %}" class="btn btn-primary">Edit Event</a>
    <form action="{% url 'event_delete' event.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="Delete Event" class="btn btn-danger">
    </form>
    <a href="{% url 'event_list' %}" class="btn btn-secondary ml-2">Back to Event List</a>
</body>
</html>
