<!DOCTYPE html>
<html>
<head>
    <title>{{ action }} Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="container">
    <h1 class="my-4">{{ action }} Event</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{{ action }} Event</button>
        <a href="{% url 'event_list' %}" class="btn btn-secondary ml-2">Back to Event List</a>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#id_start_time", {enableTime: true, dateFormat: "Y-m-d H:i"});
        flatpickr("#id_end_time", {enableTime: true, dateFormat: "Y-m-d H:i"});
    </script>
</body>
</html>
