<html>
<head>
    <title>Delete Event</title>
</head>
<body>
    <h1>Are you sure you want to delete {{ event.name }}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete">
    </form>
    <a href="{% url 'event_list' %}">Back to Event List</a>
</body>
</html>
