<!DOCTYPE html>
<html>
<head>
    <title>Campus Event Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Welcome to Campus Event Manager</h1>
    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <nav class="mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'event_list' %}">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_list' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'schedule_view' %}">Schedule</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'notification_list' %}">Notifications</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout ({{ user.username }})</a></li>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
