<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Notifications</h1>
    <ul class="list-group mb-4">
        {% for notification in notifications %}
            <li class="list-group-item">
                {{ notification.message }} -
                {% if notification.is_read %}
                    Read
                {% else %}
                    Unread
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Back to Home</a>
</body>
</html>
