<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">{{ user_profile.user.username }}'s Profile</h1>
    <div>
        <strong>First Name:</strong> {{ first_name }}
    </div>
    <div>
        <strong>Last Name:</strong> {{ last_name }}
    </div>
    <div>
        <strong>Email:</strong> {{ email }}
    </div>
    <div>
        <strong>Phone Number:</strong> {{ user_profile.phone_number }}
    </div>
    <div>
        <strong>Role:</strong> {{ user_profile.get_role_display }}
    </div>
    <h2>Tasks</h2>
    <ul class="list-group mb-4">
        {% for task in tasks %}
            <li class="list-group-item"><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>Events</h2>
    <ul class="list-group mb-4">
        {% for event in events %}
            <li class="list-group-item"><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Back to Home</a>
</body>
</html>
