<!DOCTYPE html>
<html>
<head>
    <title>Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Schedule for {{ schedule.user.user.username }}</h1>
    <h2>Events</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for event_with_role in events_with_roles %}
                <tr>
                    <td><a href="{% url 'event_detail' event_with_role.event.id %}">{{ event_with_role.event.name }}</a></td>
                    <td>{{ event_with_role.event.start_time|date:"d.m.Y" }}</td>
                    <td>{{ event_with_role.event.start_time|date:"H:i" }}</td>
                    <td>{{ event_with_role.event.end_time|date:"H:i" }}</td>
                    <td>{{ event_with_role.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Back to Home</a>
</body>
</html>
