<!DOCTYPE html>
<html>
<head>
    <title>{{ action }} Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="container">
    <h1 class="my-4">{{ action }} Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{{ action }} Task</button>
        <a href="{% url 'task_list' %}" class="btn btn-secondary ml-2">Back to Task List</a>
    </form>
</body>
</html>
