<!DOCTYPE html>
<html>
<head>
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <p>Due Date: {{ task.due_date }}</p>
    <h2>Assigned To</h2>
    <ul class="list-group mb-4">
        {% for assignee in task.assigned_to.all %}
            <li class="list-group-item">{{ assignee.user.username }}</li>
        {% endfor %}
    </ul>
    <h2>Comments</h2>
    <ul class="list-group mb-4">
        {% for comment in comments %}
            <li class="list-group-item">{{ comment.author.user.username }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_edit' task.id %}" class="btn btn-primary">Edit Task</a>
    <form action="{% url 'task_delete' task.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="Delete Task" class="btn btn-danger">
    </form>
    <a href="{% url 'task_list' %}" class="btn btn-secondary ml-2">Back to Task List</a>
</body>
</html>
