<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="my-4">Tasks</h1>
    {% if assigned_tasks %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in assigned_tasks %}
                    <tr>
                        <td><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
                        <td>{{ task.due_date|date:"d.m.Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tasks assigned to you.</p>
    {% endif %}
    <a href="{% url 'task_create' %}" class="btn btn-primary">Create New Task</a>
    <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Back to Home</a>
</body>
</html>
