<html>
<head>
    <title>Delete Task</title>
</head>
<body>
    <h1>Are you sure you want to delete {{ task.title }}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete">
    </form>
    <a href="{% url 'task_list' %}">Back to Task List</a>
</body>
</html>
